footer{
    width:100%; 
    min-height:30vh;
    background-image: url("../images/footer_background.jpg");
    position:relative;

    ul#footermedialist{
        li{
            a{
                i{
                    font-size:30px;
                    color:white;
                }
            }
        }
    }


    &::before{
        content:'';
        width:100%;
        height:30px;
        display:block;
        background-image: url("../images/footer_bottom_decoration_img.png");
        background-repeat: repeat-x;
        position:absolute;
        top:0;
        left:0;
    }


}