header{
    width:100%;   
    height:auto;
    // min-height:100vh;
    position:relative;

    div#carouselExampleIndicators{
        z-index:1!important;
        background-color: black;  // fond en noir 
        position:relative;

        div.carousel-item img{
            opacity:0.2;
        }

        .carousel-indicators{
            li{
                display: inline-block;
                width: 12px;
                height: 12px;
                margin: 10px;
                padding:3px;
                cursor: pointer;
                border: none;
                border-radius: 50%;
                background-color: #ccc;   
            }
            .active{
                    width: 12px;
                    height: 12px;
                    margin: 10px;
                    background-color: #2d2d2d;
                    border:2px solid white;
                    position:relative;

                    &::before{
                        content:'';
                        width:10px;
                        height:10px;
                        top:20%; 
                        @include media-breakpoint-up(xl){ 
                            top:25%; 
                        } 
                        left:50%;
                        transform: translateY(-50%);
                        transform: translateX(-50%);

                        background-color: white;
                        border-radius:50%;
                        position:absolute;
                    }
            }
        } // fin div . carousel-indicator

        
    } // fin div #carouselExampleIndicator
    nav #navbarNavDropdown{
        background: none;
        @media (max-width: 991.98px) { background-color: black  }
    }
    .navbar{                   
        z-index:2000!important;
        position:fixed!important;

        background-color: rgba(51,51,51,0.3);

        li.nav-item{
            border-top:1px solid white;
            border-bottom:1px solid white;
            width:100%;
            text-align:center;
            .nav-link{
                text-transform: uppercase;
                // color:blue;
                &.active{
                    // color:yellow;
                    background-color:red;
                }
            }

            &:hover{
                background-color: red;
            }
        }
        li.active{
            background-color: red;
        }
    } // fin . navbar ;   

    div#headertext{
        width:65%;
        position:absolute;
        z-index:1500;
        top:5%;
        @include media-breakpoint-up(lg) { top:20%; };
        left:50%; 
        transform: translateX(-50%);
        color:white;
        h2{ 
            font-family:"Courgette";
            font-size:20px; 
            @include media-breakpoint-up(sm) { font-size: calc(1.5rem + 2vw); };
            @include media-breakpoint-up(md) { font-size: calc(1.5rem + 3vw); };
        } 
        button{
            text-transform:uppercase;
        }
        
    } // fin # headertext; 

    &::after{
        content:'';
        width:100%;
        height:15px;
        background-image: url("../images/bottom_decoration_img.png"); 
        background-repeat: repeat-x;
        background-color: black;
        opacity:0.8;
        position:absolute;
        bottom:-10px;
        left:0;
    }
} // fin header


/*
@include media-breakpoint-up(sm) { };
@include media-breakpoint-up(md) {  };
@include media-breakpoint-up(lg) {  };
@include media-breakpoint-up(xl) {  };
@include media-breakpoint-up(xxl) { };

*/