
.font-cour{
    font-family:"Courgette";
}
.triangles{
    position:relative;
    &:before{
        width:100%; 
        height:119px;
        content: url("../images/box-right-top.png");
        position:absolute; 
        top:0;
        left:0;
        text-align:right;
        background-image: url("../images/box-left-top.png");
        background-repeat: no-repeat;
    }
    &:after{
        width:100%;
        height:119px;
        content: url("../images/box-bottom_right.png"); 
        position:absolute; 
        bottom:0;
        left:0;
        text-align:right;
        background-image: url("../images/box-bottom-left.png"); 
        background-repeat: no-repeat;
    }
}

.title-text{
    min-width:50%; 
    height:60px;
    position:relative;
    &::after{
        width:100%; 
        height:60px;
        content:"";
        position:absolute; 
        top:20%; 
        left:50%; 
        transform: translateX(-50%);
        background-image: url("../images/decoration_line.png");
        background-position:center bottom;
        background-repeat:no-repeat;
    }
}

section#contwhiteone{
    div.triangles{
        p.w50{
            width:50%; 
            @include media-breakpoint-down(md) { width:80%; }
        }
    }

    div.list-group{
        border-radius:0px;
        border-bottom:1px solid #ccc;
        
        a.list-group-item{
            color:black;
            font-size:30px;
            border:none;
            border-bottom:1px solid #ccc;
            font-family:"Courgette";
            @include media-breakpoint-down(md){
                padding:0;
            }

            i{
                font-size:50px;
                color:grey;
            }
            &.active{
                // color:red;
                background:none!important;
                border-right:4px solid red;
                @include media-breakpoint-down(md){
                    border:none;
                    border-bottom:1px solid red;
                }
                i{
                    color:red;
                }
            }
        }

        @include media-breakpoint-down(md){
            display:flex; 
            flex-direction: row;
        }
    }

    div.tab-pane{
        p{
            font-size:12px;
            @include media-breakpoint-down(lg){
                font-size:15px; 
            }
        }
        p.price{
            font-size:default;
            background-color: #ccc;
            color:red;
            font-weight:bold;
        }
    }

    div.alert{
        position:relative;

        &:before{
            content:"!";
            width:0;
            height:0;
            top:0;
            left:50%;
            transform: translateX(-50%);
            z-index:0;
            position:absolute;
            border-left:70px solid transparent;
            border-right:70px solid transparent;
            border-bottom:70px solid yellow;
            font-size:3em; 
            font-weight:bold;
            text-align: left;
            opacity:0.3;
            
        }
        h2{
            color:black;
            z-index:2;
            text-align: center;
        }

    }
}// end section contwhiteone (menu); 
section#meetchefs{
    width:100%;
    min-height:50vh;
    max-height:100vh; 
    background-image: url("../images/team_background.jpg");
    color:white;
    margin-top:6%;
    background-position:fixed;
    overflow-y:scroll;
}
section#meetchefs::-webkit-scrollbar{
    display:none;
}
