
.font-cour{
    font-family:"Courgette";
}
.triangles{
    position:relative;
    &.rouge{
        &:before{
            width:100%; 
            height:119px;
            content: url("../images/box-right-top.png");
            position:absolute; 
            top:0;
            left:0;
            text-align:right;
            background-image: url("../images/box-left-top.png");
            background-repeat: no-repeat;
        }
        &:after{
            width:100%;
            height:119px;
            content: url("../images/box-bottom_right.png"); 
            position:absolute; 
            bottom:0;
            left:0;
            text-align:right;
            background-image: url("../images/box-bottom-left.png"); 
            background-repeat: no-repeat;

        }
    }
    &.noir{
        &:before{
            width:100%; 
            height:119px;
            content: url("../images/box-right-top-grey.png");
            position:absolute; 
            top:0;
            left:0;
            text-align:right;
            background-image: url("../images/box-left-top-grey.png");
            background-repeat: no-repeat;

        }
        &:after{
            width:100%;
            height:119px;
            content: url("../images/box-bottom_right-grey.png"); 
            position:absolute; 
            bottom:0;
            left:0;
            text-align:right;
            background-image: url("../images/box-bottom-left-grey.png"); 
            background-repeat: no-repeat;
        }       
    }
}

.title-text{
    min-width:50%; 
    height:60px;
    position:relative;
    z-index:4;
    &::after{
        width:100%; 
        height:60px;
        content:"";
        position:absolute; 
        top:20%; 
        left:50%; 
        transform: translateX(-50%);
        background-image: url("../images/decoration_line.png");
        background-position:center bottom;
        background-repeat:no-repeat;
        z-index:-1000;
    }
}

section#contwhiteone{
    div.triangles{
        p.w50{
            width:50%; 
            @include media-breakpoint-down(md) { width:80%; }
        }
    }

    div.list-group{
        border-radius:0px;
        border-bottom:1px solid #ccc;
        
        a.list-group-item{
            color:black;
            font-size:30px;
            border:none;
            border-bottom:1px solid #ccc;
            font-family:"Courgette";
            @include media-breakpoint-down(md){
                padding:0;
            }

            i{
                font-size:50px;
                color:grey;
            }
            &.active{
                // color:red;
                background:none!important;
                border-right:4px solid red;
                @include media-breakpoint-down(md){
                    border:none;
                    border-bottom:1px solid red;
                }
                i{
                    color:red;
                }
            }
        }

        @include media-breakpoint-down(md){
            display:flex; 
            flex-direction: row;
        }
    }

    div.tab-pane{
        p{
            font-size:12px;
            @include media-breakpoint-down(lg){
                font-size:15px; 
            }
        }
        p.price{
            font-size:default;
            background-color: #ccc;
            color:red;
            font-weight:bold;
        }
        img{
            border:5px solid #ccc; 
        }
    }

    div.alert{
        &:before{
            content:"!";
            width:0;
            height:0;
            top:0;
            left:50%;
            transform: translateX(-50%);
            z-index:0;
            position:absolute;
            border-left:70px solid transparent;
            border-right:70px solid transparent;
            border-bottom:70px solid yellow;
            font-size:3em; 
            font-weight:bold;
            text-align: left;
            opacity:0.3;
            
        }
        h2{
            color:black;
            z-index:2;
            text-align: center;
        }

    }
}// end section contwhiteone (menu); 
section#meetchefs{
    width:100%;
    min-height:50vh;
    max-height:100vh; 
    background-image: url("../images/team_background.jpg");
    color:white;
    margin-top:6%;
    background-position:fixed;
    overflow-y:scroll;
}

section#meetchefs::-webkit-scrollbar{
    display:none;
} // end section meet chefs 

section#bytandblog{
    
    div#divformbook{
        width:70%;
        min-height:50vh; 
        background-image: url("../images/book_table_bg.jpg");
        @include media-breakpoint-down(md){
            background-size: auto 100%;
        }
        background-position: center;
        background-repeat: no-repeat;
        border-radius:25px; 
    }

    div#blog{
        div.card{
            border:none!important;
            background:none!important; 
            img{
                border:5px solid #ccc;
                border-radius:25px;
            }
            div.card-body{
                position:relative;

                h3{
                    width:80%; 
                    position:absolute;
                    top:-20%;
                    left:50%;
                    transform:translateX(-50%);
                }
            }
        }
    }
} // end section Book your table and blog 
section#ctestim{
    width:100%; 
    min-height:50vh; 
    background-image: url("../images/testimonials_background.jpg");
    background-position:center;
    @include media-breakpoint-down(md){
        background-size: auto 100%;
    }
    background-repeat: no-repeat;
    img{
        border:4px solid #ccc;
    }
} // fin sectionclients testimontinals ; 



section#contact{

    div#contactbox{
        width:80%;
        border-radius:30px;
        @include media-breakpoint-up(md){ width: calc( 100% / 3); }
        @include media-breakpoint-only(md) { width: 80%;  }

        .row{
            margin-top:3%;
            position:relative;
            &:not(:last-child){
                &:after{
                    content:'';
                    width:80%; 
                    height:1px; 
                    left:50%; 
                    transform: translateX(-50%);
                    bottom:0; 
                    position:absolute;
                    border-bottom:1px solid white;
                }
            }
            [class*='col-']{ 
                i{
                    font-size:40px;
                }
            }
            
        }
    }
}