@import "header";
@import "sections";

body{
    background-image:url("../images/main_bg.jpg");
    background-repeat: repeat;
    font-family:"Ubuntu"; 
}

.zindex2000{
    z-index:999999999999999999999!important;
}