@import "header";
@import "sections";
@import "footer";


body{
    background-image:url("../images/main_bg.jpg");
    background-repeat: repeat;
    font-family:"Ubuntu"; 
    position:relative;
}

.zindex2000{
    z-index:1000!important;
    left:50%; 
    transform: translateX(-50%);
    position:absolute;
    bottom:3%;
}

html{
    scroll-behavior: smooth!important;
}