header {
  width: 100%;
  position: relative;
}

header div#carouselExampleIndicators {
  z-index: 1 !important;
  background-color: black;
}

header div#carouselExampleIndicators div.carousel-item img {
  opacity: 0.5;
}

header div#carouselExampleIndicators .carousel-indicators li {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #ccc;
}

header div#carouselExampleIndicators .carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 10px;
  background-color: #2d2d2d;
  border: 2px solid white;
}

header div#carouselExampleIndicators nav {
  z-index: 2000 !important;
  position: absolute !important;
}

header div#carouselExampleIndicators nav li.nav-item {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

header div#carouselExampleIndicators nav li.nav-item .nav-link {
  text-transform: uppercase;
}

header div#carouselExampleIndicators nav li.nav-item:hover {
  background-color: red;
}

header div#carouselExampleIndicators nav li.active {
  background-color: red;
}
